.header {
    padding: 0 10px 0 10px;
}
.header-wrapper {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
    h1 {
        font-size: 40px;
        font-weight: 800;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        cursor: pointer;
    }
}
.cart-button {
    display: grid;
    position: relative;
    justify-self: right;
    padding-right: 10px;
    width: 56px;
    height: 60px;
    background-image: url(../assets/svg/cart.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}
.cart-total {
    position: relative;
}
.cart__counter {
    display: grid;
    align-self: center;
    justify-self: center;
    align-content: center;
    padding: 4px;
}


@media (width <= 480px) {
    .header-wrapper{
        grid-template-columns: 48% 32% 20%;
    }
  }
  
