
.pop-up-background {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.8);
    &.open {
        visibility: visible;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 50%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #D0A5F3;
    border: solid 2px transparent;
    border-radius: 10px;
    .modal-text-container {
        width: 55%;
        color: #000000;
    }
}
.pop-up-close-button {
    position: absolute;
    right: 3%;
    top: 25px;
    width: 15px;
    height: 15px;
    padding: 0;
    border: none;
    background: none;
    transition: all 0.5s;
    &:hover {
        transform: scale(1.2);
        transition: all 0.3s;
    }
}

.pop-up-close-button:before, .pop-up-close-button:after {
    position: absolute;
    top: 0;
    content: ' ';
    cursor: pointer;
    height: 15px;
    width: 2px;
    background-color: #000000;
}

.pop-up-close-button:before {
    transform: rotate(45deg);
}

.pop-up-close-button:after {
    transform: rotate(-45deg);
}

@media (width <= 660px) {
    .modal{
        display: grid;
        justify-items: center;
        width: 50%;
        height: 45%;
    }

    .pop-up-close-button{
        top: 5px;
        right: 1%;
    }
}

@media (width <= 488px){
    .pop-up-close-button{
        right: 1%;
    }
    .modal{
        height: 50%;
        .card__img{
            padding-top: 15px;
        }
    }
}

@media (width <= 400px){
    .pop-up-close-button{
        right: 1%;
    }
    .modal{
        width: 70%;
        height: 50%;
        .card__img{
            padding-top: 15px;
        }
    }
}