.filters-category{
	margin-top: 15px;
}

.checkbox-line{
	display: grid;
	grid-template-columns: 15px 170px;
	column-gap: 6px;
	align-items: start;
	& > input{
		height: 15.3px;
		width: 15.3px;
		margin-top: 4px;
	}
}

.filters-brand-list > *{
	inline-size: 140px;
  overflow-wrap: break-word;
}